<!DOCTYPE HTML>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="../static/js/myscript.js">
        </script>
    </head>
    <body>
        <div class="centerBox">
            <h1>Login</h1>
            <form action="/loginPOST" method="POST">
                <input type="text" name="email" class="inputText" placeholder="Email">
                <br>
                <input type="password" name="password" class="inputText" placeholder="Password">
                <br><span style="color: red;">{{session.loginError}}</span><br>
                <input type="submit" value="Login" class="publish">
            </form>
        </div>
        <div class="centerBox2">
            <h1>New Account</h1>
            <form action="/new" method="POST">
                <input type="text" name="first_name" class="inputText" placeholder="First Name">
                <br>
                <input type="text" name="last_name" class="inputText" placeholder="Last Name">
                <br>
                <input type="text" name="email" class="inputText" placeholder="Email">
                <br>
                <input type="password" name="password" class="inputText" placeholder="Password">
                <br>
                <input type="password" name="conf" class="inputText" placeholder="Confirm Password">
                <br><span style="color: red;">{{session.newAccountError}}</span><br>
                <input type="submit" value="Create" class="publish">
            </form>
        </div>
    </body>
</html>