<!DOCTYPE HTML>
<html>
    <head>
        <title>Map Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>TEST</h1>
        <iframe class="googleMaps"
        id="map"
        frameborder="0" style="border:0"
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCE1Rh4Fq1iUJNDx0RXPxMRPIJ8wlnRUS8&center=47.620467,-122.349116"
        allowfullscreen>
    </iframe>
    </body>
</html>