<!DOCTYPE HTML>
<html>
    <head>
        <title>Map Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="../static/js/myscript.js">
        </script>
    </head>
    <body>
        <h1>TEST</h1>
        <p id="demo"></p>
        <p>{{listingTitle}}</p>
        <p>Description: {{listingDescription}}</p>
        <a href="/testcenter/0/0" class="headerLink">Iain's house</a>
        <br>
        <a href="/testcenter/1/0" class="headerLink">Sandra's house</a>
    </body>
</html>