<!DOCTYPE HTML>
<html>
    <head>
        <title>upImg</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="../static/js/myscript.js">
        </script>
    </head>
    <body>
        <div class="centerBox">
            <h1>Add Photos</h1>
            <form method="POST" enctype="multipart/form-data" action="/uploadFile/{{uID}}/{{lID}}">
                <input type="file" id="myFile" name="uploaded-file" accept="image/png" class="publish">
                <input type="submit" value="Submit" class="publish">
            </form>
            <a href="/allListings/{{uID}}">Back</a>
        </div>
    </body>
</html>